[Unit]
After=network.target
Description=1Password Service

[Service]
User=root
Restart=always
Environment=DISPLAY=:0
ExecStart=/opt/1Password/1password --silent

[Install]
WantedBy=default.target
